{% extends "index.html" %}
{% load static %}

{% block title %}
    Group - {{ group.name }}
{% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}

<div>
    <div id="chat">

    </div>
    <div id="chat-input">
        <input type="text" id="chat_message_input" class="form-control">
        <button type="submit" class="btn btn-light" style="margin-top: 10px;"
        id="chat_message_submit">Send</button>
    </div>
</div>

<script>
    // INIT Chat socket
    let url = 'ws://' + window.location.host + '/ws/chat/' + '{{group.pk }}/';
    let chatSocket = new WebSocket(url);
    
    chatSocket.onmessage = function(e) {
        let data = JSON.parse(e.data);
        let message = data.message;

        let dateOptions = {hour: 'numeric', minute: 'numeric', housr12: true};
        let datetime = new Date(data['created']).toLocaleString('en', dateOptions);

        let isMe = data.user_id === '{{ request.user.username }}';
        let source = isMe ? 'me': 'other';
        let name = isMe ? 'Me': data.user;

        let $chat = document.getElementById('chat');
        let child = document.createElement('div')
        child.innerHTML = '<div class="message '+ source +'">' + 
                          '<strong>' + name + '</strong>' +
                          '<span class="date">'+ datetime +'</span><br>' +
                          message + 
                          '</div>';
        $chat.append(child);
        $chat.scrollTop($chat[0].scrollHeight);
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };


    // SEND MESSAGES
    let $input = document.getElementById('chat_message_input');
    let $submit = document.getElementById('chat_message_submit');

    $submit.addEventListener('click', function(e){
        let message = $input.value;
        if(message) {
            // send message in JSON format
            chatSocket.send(JSON.stringify({'message': message}));

            //clear input
            $input.value = '';

            // return focus
            $input.focus();
        }
    })

    // ENABLE CHECKING FOR 'ENTER' button
    $input.focus();
    $input.addEventListener('keyup', function(e){
        if(e.which === 13) {
            $submit.click();
        }
    })
</script>
{% endblock %}