{% extends "index.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group - {{ group.name }}</title>
</head>
<body>
{% block content %}
<div>
    <h1>Owner: {{ group.owner_username }}</h1>
</div>

<div>
    <div id="chat">

    </div>
    <div id="chat-input">
        <input type="text" id="chat_message_input" class="form-control">
        <button type="submit" class="btn btn-light" style="margin-top: 10px;">Send</button>
    </div>
</div>
{% endblock %}
</body>
</html>