{% extends "index.html" %}
{% load static %}

{% block title %}
Group - {{ group.name }}
{% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block page_name %}{{ group.name }}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-9">
        <div id="chat">

        </div>
        <div id="chat-input">
            <input type="text" id="chat_message_input" class="form-control">
            <button type="submit" class="btn btn-light" style="margin-top: 10px;"
                    id="chat_message_submit">Send
            </button>
        </div>
    </div>
    <div class="col-3">
        {% if request.user == chat.sender %}
        <h1><strong>{{ chat.receiver.username }}</strong></h1>
        {% else %}
        <h1><strong>{{ chat.sender.username }}</strong></h1>
        {% endif %}
    </div>
</div>

<script src="{% static 'js/websocket.js' %}"></script>
<script>
    // INIT Chat socket
    let url = 'ws://' + window.location.host + '/ws/chat/personal/' + '{{ user.pk }}/';
    let chatSocket = new WebSocket(url);
    let username = '{{ request.user.username }}';
    
    chatSocket.onmessage = socket_onmessage;

    chatSocket.onclose = socket_onclose;


    // SEND MESSAGES
    let $input = document.getElementById('chat_message_input');
    let $submit = document.getElementById('chat_message_submit');

    $submit.addEventListener('click', submit_event_listener)

    // ENABLE CHECKING FOR 'ENTER' button
    $input.focus();
    $input.addEventListener('keyup', input_event_listener);

</script>
{% endblock %}